<div class="partial">
    {{#if user}}
<form action="/deletecookie" method="get">
    <p class="logged">
        Logged in as {{user.name}}
    </p>
    <button type="submit">Logout</button>
</form>
{{else}}
<form action="/login.html" method="get">
    <p>
        You are not logged in
    </p>
    <button type="submit" class="login">Login</button>
</form>
{{/if}}
</div>