<h1>Advertisments</h1>
<a href="/uploadCarInf">Add new advertisment</a>
<div class="ads">
    <form name="form" id="form_id" action="/get_respective_cars" method="GET">
        <table>
            <tr>
                <td>
                    <label for="manufacture">Manufacture:</label>
                </td>
                <td>
                    <input type="text" id="manufacture" name="manufacture" pattern="^[A-Z][a-z]+$">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="city">City:</label>
                </td>
                <td>
                    <input type="text" id="city" name="city" pattern="^[A-Z][a-z]+$">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="minprice">MinPrice(euro):</label>
                </td>
                <td>
                    <input type="number" id="minprice" name="minprice">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="maxprice">MaxPrice(euro):</label>
                </td>
                <td>
                    <input type="number" id="maxprice" name="maxprice">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="submit" value="Search">
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
{{#each cars}}
<div class="ads">
    <table id="{{cid}}">
        <tr onclick="adClicked('{{cid}}')">
            <td>Manufacture:</td>
            <td>{{manufacture}}</td>
        </tr>
        <tr onclick="adClicked('{{cid}}')">
            <td>Model:</td>
            <td>{{model}}</td>
        </tr>
        <tr onclick="adClicked('{{cid}}')">
            <td>Year:</td>
            <td>{{year}}</td>
        </tr>
        <tr onclick="adClicked('{{cid}}')">
            <td>City:</td>
            <td>{{city}}</td>
        </tr>
        <tr onclick="adClicked('{{cid}}')">
            <td>Price:</td>
            <td>{{price}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="error"></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="/car_details?cid={{cid}}">Details</a>
            </td>
            <td>
                <a href="/car_delete?cid={{cid}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br><br>
{{else}}
<p class="error">No advertisments to show</p>
{{/each}}
<script src="ad.js"></script>