<h1>Advertisments Details</h1>
{{#if car}}
<table>
    <tr>
        <td>Manufacture:</td>
        <td>{{car.manufacture}}</td>
    </tr>
    <tr>
        <td>Model:</td>
        <td>{{car.model}}</td>
    </tr>
    <tr>
        <td>Year:</td>
        <td>{{car.year}}</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>{{car.city}}</td>
    </tr>
    <tr>
        <td>Fuel:</td>
        <td>{{car.fuel}}</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>{{car.price}}</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td>{{car.date}}</td>
    </tr>
</table>
<br><br>
<table id="images">
    {{#each car.image}}
    <tr>
        <td>
            <img id="img" src="{{image}}" width="350" height="350" alt="{{../car.manufacture}}">
        </td>
        {{#eq ../car.uid ../user.id}}
        <td>
            <button onclick="deleteImage(this, '{{image}}', '{{../car.cid}}')">Delete</button>
        </td>
        {{/eq}}
        <td class="error"></td>
    </tr>
    {{/each}}
</table>
<br><br>
{{/if}}
<h1>Upload car image</h1>
<form name="form" id="form_id" action="/upload_car_image" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="cid" value="{{car.cid}}" />
    <table>
        <tr>
            <td>
                <label for="myfile">Images:</label>
            </td>
            <td>
                <input type="file" name="myfile" accept="image/*" multiple id="myfile" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="submit" value="Upload">
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;
                <a href="/">Advertisments</a>
            </td>
        </tr>
    </table>
</form>
<script src="adDetails.js"></script>