<h1>Upload car informations</h1>
<form name="form" id="form_id" action="/upload_car_inf" method="POST">
    <table>
        <tr>
            <td>
                <label for="manufacture">Manufacture:</label>
            </td>
            <td>
                <input type="text" id="manufacture" name="manufacture" pattern="^[A-Z][a-z]+$">
            </td>
        </tr>
        <tr>
            <td>
                <label for="model">Model:</label>
            </td>
            <td>
                <input type="text" id="model" name="model" pattern="^[A-Z][a-z0-9]+$">
            </td>
        </tr>
        <tr>
            <td>
                <label for="year">Year:</label>
            </td>
            <td>
                <input type="number" id="year" name="year">
            </td>
        </tr>
        <tr>
            <td>
                <label for="city">City:</label>
            </td>
            <td>
                <input type="text" id="city" name="city" pattern="^[A-Z][a-z]+$">
            </td>
        </tr>
        <tr>
            <td>
                <label for="fuel">Fuel:</label>
            </td>
            <td>
                <input type="text" id="fuel" name="fuel" pattern="^[a-z]+$">
            </td>
        </tr>
        <tr>
            <td>
                <label for="price">Price(euro):</label>
            </td>
            <td>
                <input type="number" id="price" name="price">
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" onclick="clickValidate()">Validate</button>
            </td>
            <td>
                <input type="submit" id="submit" value="Submit" disabled>
            </td>
        </tr>
    </table>
</form>
<p id="msg"></p>
<script src="uploadCarInf.js"></script>