body {
    text-align: center;
    font-family: cursive, sans-serif;
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: rgb(4, 202, 176);
}

a:link, a:visited {
    background-color: #5d3dd1;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
  }
  
a:hover, a:active {
    background-color: rgb(11, 14, 189);
}

form {
    display: inline-block;
}

table {
    display: inline-block;
    color: rgb(0, 216, 126);
}

input {
    width: 100%;
    padding: 5px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-family: cursive;
    border-color: black;
    border-radius: 10px;
}

input:invalid {
    background: rgb(207, 8, 8);
}

input:valid {
    background: rgb(55, 153, 5);
}

button, input[type=submit] {
    background: linear-gradient(to bottom, #f5978e 5%, #c62d1f 100%);
    background-color: #f24537;
    border: #f24537;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 10px 14px -7px #276873;
}

button:hover, input[type=submit]:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}

button:active {
    position: relative;
    top: 1px;
}

p {
    color: red;
    font-weight: bold;
}

td.error {
    color: red;
    font-weight: bold;
}

p.logged {
    color: lime;
}

div.partial {
    text-align: right;
}

input[type=submit] {
    background: linear-gradient(to bottom, #c38ef5 5%, #891fc6 100%);
    border: #8e37f2;
}

input[type=submit]:hover {
    background: linear-gradient(to bottom, #971fc6 5%, #a737f2 100%);
}

button.login {
    background: linear-gradient(to bottom, #8ef593 5%, #4ec61f 100%);
    border: #37f247;
}

button.login:hover {
    background: linear-gradient(to bottom, #1fc62d 5%, #37f247 100%);
}